h1{
    color: rgb(186, 32, 130);
    background: black;
}

h2{
    color: rgb(207, 78, 168);
    background: rgb(0, 0, 0);
}

h3{
    color: rgb(190, 108, 164);
    background: black;
}
h4{
    color: rgb(230, 149, 206);
    background: black;
}
h5{
    color: white;
    background: black;
}