/* src/styles/Home.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://cafe24.poxo.com/ec01/namingcos/WtEwhU5fSJcIzpMenhoccf+Bfq6zndlJ+5yax36edFDF89Bmsg1tOrVrd3FnyxUIkUJ3miy1sOJTaWT4YFeQMQ==/_/naming/img/240528/pc/SMS(AD)1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }
  
  .home-title {
    font-size: 3rem;
    text-align: center;
    margin: 0;
  }
  
  .home-description {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }