body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container{
    margin: 10px;
    padding: 10px;
    background-color: grey;
    border-radius: 8px;
}

.container2{
    margin: 10px;
    padding: 55px;
    background-color: lightblue;
    border-radius: 8px;
}
